@page
@using Shop.WEB.Pages.Admin.Delivery;
@model PurchaseDetailsModel

<div class="row g-0" style="font-size:20px">
    <div class="col-1 col-md-1">
        <label asp-for="@Model.Purchase.Date"></label>:
    </div>
    <div class="col-md-3">
        <div>@Model.Purchase.Date</div>
    </div>
</div>
<div class="row g-0" style="font-size:20px">
    <div class="col-1 col-md-1">
        <label asp-for="@Model.Purchase.Customer"></label>:
    </div>
    <div class="col-md-3">
        <div>@Model.Purchase.Customer.Name</div>
    </div>
</div>

<div class="container text-center table-borderless border-1 border-dark" style="margin-top:30px; border-style:solid">
    <div class="row" style="padding-top:10px">
        <div class="col">Store</div>
    </div>
    @foreach (var storeProducts in Model.Purchase.StoreProducts)
    {
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="container text-center table-borderless" style="margin-top:30px">
                            <div class="row" style="padding-top:10px">
                                <div class="col">@storeProducts.StoreId</div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row" style="padding-top:10px">
                            <div class="col">Product Id</div>
                            <div class="col">Product Count</div>
                            <div class="col">Discount</div>
                            <hr />
                        </div>

                        @foreach (var purchaseDetails in storeProducts.PurchaseDetails)
                        {
                            <div class="row" style="padding-top:10px">
                                <div class="col">@purchaseDetails.ProductId</div>
                                <div class="col">@purchaseDetails.ProductCount</div>
                                <div class="col">@purchaseDetails.Discount</div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
</div>